---
interface Props {
  style?: "primary" | "destructive"
  class?: string
  [x: string]: any
}
const { style = "primary", class: className, ...rest } = Astro.props as Props

const styles = {
  primary: "bg-background text-foreground",
  destructive:
    "border-destructive/50 text-destructive dark:border-destructive [&>svg]:text-destructive"
}
---

<div
  class:list={[
    "relative",
    "w-full",
    "rounded-lg",
    "border",
    "px-4",
    "py-3",
    "text-sm",
    "[&>svg+div]:translate-y-[-3px]",
    "[&>svg]:absolute",
    "[&>svg]:left-4",
    "[&>svg]:top-4",
    "[&>svg]:text-foreground",
    "[&>svg~*]:pl-7",
    styles[style],
    className
  ]}
  ,
  role="alert"
  {...rest}>
  <slot />
</div><!-- / -->
