---
import type { HTMLAttributes } from "astro/types"
type Props = HTMLAttributes<"div">
const { class: className, ...attrs } = Astro.props as Props
---

<div
  class:list={[
    "flex",
    "size-full",
    "items-center",
    "justify-center",
    "rounded-full",
    "bg-muted",
    className
  ]}
  {...attrs}>
  <slot />
</div>
