---
import type { HTMLAttributes } from "astro/types"
type Props = HTMLAttributes<"div"> & {
  orientation?: "horizontal" | "vertical"
}

const {
  orientation = "horizontal",
  class: className,
  ...attrs
} = Astro.props as Props
---

<div
  class:list={[
    "shrink-0",
    "bg-border",
    orientation === "horizontal" ? "h-px w-full" : "h-full w-px",
    className
  ]}
  {...attrs}>
</div>
